<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sesiones + Handlebars</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <nav><span>Hola, {{name}}</span><img src="profilePic/{{userPic}}"><a href="/logout">Cerrar Sesión</a></nav>
  </header>
  {{{body}}}
</body>
</html>